PORT=3000
PUBLIC_URL=
SNAPSHOT_API_KEY=
X402_NETWORK=algorand:SGO1GKSzyE7IEPItTxCByw9x8FmnrCDexi9/cOUJOiI=
X402_PAY_TO=
X402_FACILITATOR_URL=https://facilitator.goplausible.xyz
X402_PRICE_READ=0.01
X402_PRICE_VP=0.02
X402_TAG=x402-global-challenge
X402_PAY_TO_EVM=
